{% block content %}
<head>
		<link type="text/css" rel="stylesheet" href="/static/stylesheet.css" />
		
	</head>

<div style="width: 500px" id="title">
	<p style="font-size:15px; color: red;">{{ error }}</p>
	<br>
	<p>Thank you for your payment!</p> 
<p>A receipt for your purchase will be emailed to you shortly.</p>
<p>To receive your downloadable/printable PDF file, please<br> re-enter your name below as it appears on your certificate.</div><br>
<form method="post">
	<input style="margin-left: 17px;" type="text" name="name" value="{{name}}">
<input type="submit">
</form>

{% endblock %}